html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('geometric.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

#filter {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: 0 auto; 
  width: 95%; 
  max-width: 2400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #000;
  font-size: 0.7vw; 
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button, .pagination-button, .pagination {
  margin-left: 10px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: rgba(107, 201, 186, 0.84);
  border-radius: 15px;
  transition-duration: 0.3s;
  color: black;
  border: none;
}

button:hover {
  background-color: rgba(51, 120, 110, 0.95);
  color: white;
}

#logoutButton {
  position: absolute;
  top: 25px;
  right: 20px;
}

.wrap-cell {
  word-wrap: break-word;
}

.clicked {
  background-color: rgba(51, 120, 110, 0.95);
}

.notClicked {
  background-color: rgba(107, 201, 186, 0.84);
}

#csvButton {
  position: absolute;
  right: 20px;
}

#excelButton {
  position: absolute;
  right: 190px;
}

#textBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButton {
  margin-left: 10px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: rgba(189, 189, 189, 0.84);
  transition-duration: 0.3s;
  color: black;
  border: none;
}

.filterButton:hover {
  background-color: rgba(99, 99, 99, 0.95);
  color: white;
}

#statisticsButton, #feedbackButton {
  position: absolute;
  top: 25px;
  margin-left: 10px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: rgba(107, 201, 186, 0.84);
  border-radius: 15px;
  transition-duration: 0.3s;
  color: black;
  border: none;
}

#statisticsButton {
  left: 10px;
}

#feedbackButton {
  left: 120px; 
}

#statisticsButton:hover, #feedbackButton:hover {
  background-color: rgba(51, 120, 110, 0.95);
  color: white;
}

.clickable {
  cursor: pointer;
}

#pagination {
  margin-block: 25px;
}